:root {
    --pink: #fde6e0;
    --tan: #eba99d;
    --reseda: #adbdbb;
    --aqua: #93b3b0;
    --loden: #768f8f;
    --grey: #595562;
    --white:  #f9efef;
    --hover-ts: 1px 1px 2px var(--reseda), 
                0 0 1em var(--loden), 
                0 0 0.2em var(--aqua);
    --animation: 12s myGradient infinite;
    --border-radius: 15px ;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--white);
    text-shadow: 2px 2px var(--grey);
}

a {
    text-decoration: none;
}

/* =====header content===== */
.header {
    line-height: 300%;
    background-size: cover;
    background-repeat: no-repeat;
}

  /* ====nav bar style===== */
.nav {
    border-radius: 30px 30px 0px 0px;
    display: flex;
}
  li a {
    font-size: 24px;
    letter-spacing: 1px;
    margin-left: 30px;
    color: var(--white);
}


/* =====self-intro section===== */

#intro_background {
    width: 100%;
    height: 50vh;
}

.avatar {
    height: 20%;
    width: 12%;
    left: 66%;
    top: 16%;
    border-radius: var(--border-radius);
}

#avatar_pic {
    height: 100%;
    width: 100%;
    padding: 5%;
    border-radius: var(--border-radius); 
}

.my_name {
    left: 50%;
    top: 25%;
    font-size: 150%;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--grey); 
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    left: 52%;
    top:21%;
  }

.self-intro {
    left: 48%;
    top: 36.5%;
    font-size: 150%;
    font-weight: bolder;
    font-family: revert;
    line-height: 150%;
}

.avatar, .my_name, .self-intro, 
.project_dscrb, .tooltiptext {
    position: absolute;
}

/* =====project boxes layout===== */
/* .projects {
    display: grid;
    grid-template-columns: 19% 29%;
    grid-template-rows: 54% 37%;
} */

.projects {
    display: inline-flex;
    flex-direction: column;
}

#project_bgpic {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.projects .project_name {
    position: relative;
    top: -30%;
    left: 1%;
    display: inline;
    font-size: larger;
}

.project_container {
    margin-left: 3%;
    margin-top: 1%;
    padding: 1%;
    height: 70%;
    border-radius: var(--border-radius);
}

#homework {
    /* make the homework project container bottom align with first project container */
    margin-top: 4.5%;
}


/* =====project description===== */

.project_dscrb {
    display: inline;
    left: 60%;
    top: 70%;
    line-height: 300%;
    font-size: 15px;
}


/* =====footer style===== */
.footer {
    border-radius: 0px 0px 30px 30px;
    font-size: 24px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.footer .contact {
    text-align: center;
}

/* =====pseudo classes===== */

.my_name:hover::after {
    cursor: cell;
    content: "Hello!😊";
    width: 120px;
    background-color: var(--grey);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: 13%;
    top: -163%
}

.project_container:hover {
    box-shadow: inset 0px 0px 8px var(--loden),
    0 0 15px var(--aqua);
}

.project_name:hover, .my_name:hover,
#email:hover, #github:hover, #linkedin:hover,
#aboutme:hover, #portfolio:hover, #contactme:hover {
    text-shadow:  var(--hover-ts);
}

/* =====animation===== */
.header .nav, .projects, .footer {
    list-style-type: none;
    padding: 18px 0;
    background-size: 200% 200%;
    background-image: linear-gradient(
        -45deg, 
        var(--reseda), var(--aqua), var(--grey), var(--loden),var(--tan));
    animation: var(--animation);
    box-shadow: 3px 3px 20px var(--grey);
  }
.project_container, .avatar {
    background-image: linear-gradient(-45deg, var(--white),var(--pink), var(--tan), var(--reseda));
    animation: var(--animation);
    box-shadow: 3px 3px 20px var(--grey);
    background-size: 200% 200%;
}

@keyframes myGradient {
    0% {
      background-position: 0% 50%;
    }
    
    50%{
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 50%;
    }
  }

/* =====Media Queries===== */

/* @media (max-width: 992px) {
    .nav {
        display: flex;
        justify-content: center;
    }
    .avatar {
        display: none;
    }
    .my_name, .self-intro {
        display: inline-flex;
        position: absolute;
        left: 15%;
    }
    .projects {
        display: grid;
        grid-template-columns: 50% 1fr;
    }
    .project_dscrb {
        display: none;
    }
} */

@media (max-width: 768px) {
    .nav {
        display: flex;
        justify-content: center;
    }
    .avatar {
        display: none;
    }
    .my_name, .self-intro {
        display: inline-flex;
        position: absolute;
        left: 15%;
    }
    .projects {
        display: flex;
        flex-wrap: wrap;
    }
    .project_dscrb {
        display: none;
    }
}
